
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../public/background1.jpg") no-repeat center center/cover;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
