:root {
  --primary-color: #0056b3; /* Màu xanh dương chính */
  --secondary-color: #007bff;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --text-color: #555;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

section {
  padding: 60px 0;
}

h1, h2, h3 {
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
}